<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <title><%= appName %> | <%= video.title %></title>
  </head>
  <body>
    <div class="page-container">
      <%- include("partials/header") %>

      <section class="video-section">
        <video src="<%= video.sourceUrl %>" controls>
          Sorry, your browser doesn't support HTML5 <code>video</code>.
        </video>
      </section>

      <h1><%= video.title %></h1>
    </div>
  </body>
</html>
